body{
    font-family: Arial, sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333333;
}

.calendar{
    background-color: #111111;
    border-radius: 10px;
    box-shadow: 0 0 30px #222222;
    overflow: hidden;
    width: 300px;
    color: white;
    padding: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.btn {
    cursor: pointer;
}

#month-year {
    font-weight: bold;
    font-size: 20px;
}

.weekdays, .days {
    display: flex;
    flex-wrap: wrap;
}

.days {
    height: 240px;
}

.weekdays div, .days div {
    width: 14.28%;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}

.days div {
    cursor: pointer;
    transition: background-color 0.3s;
}

.days div:hover {
    background-color: white;
    color: orangered;
}

.days .today {
    background-color: orangered;
    opacity: 75%;
    color: white;
}

.days .fade {
    color: #555;
}

.selected {
    background-color: orangered;
    color: white;
}

#submit {
    cursor: pointer;
    background-color: orangered;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;

    font-family: Arial, sans-serif;
    border-radius: 0.5em;
    font-size: 1em;
    padding: 0.2em 1em;
    border: none;
    cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#question {
    font-weight: bolder;
    margin: 15px;
    border-radius: 0.5em;
    font-family: Arial, sans-serif;
    font-size: 3em;
    color: white;
    width: fit-content;
    padding: 0.2em 1em;
}